<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出遊趣</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div id="goHiking">
        <h1>出遊趣</h1>
        <form method="post">
            <div class="selectSection">
                <div class="selectOption">
                    <p>請選擇縣市：</p>
                    <select name="city" id="">
                        <option value="" disabled selected hidden>縣市</option>
                        {% for city in citys %}
                        <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selectOption">
                    <p>請選擇降雨機率：</p>
                    <select name="percent" id="">
                        <option value="" disabled selected hidden>降雨機率</option>
                        {% for percent in percents %}
                        <option value="{{percent}}%">{{percent}}％以下</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" name="send" value="送出">
            </div>
        </form>
        {% if name == "" %}
        <p class="aLine">請完成篩選</p>
        {% else %}
        <div class="result_content">
            <p class="result_txt">以下為從<a href="https://www.cwb.gov.tw/V8/C/L/Mountain/Mountain.html" target="_blank" rel="noopener noreferrer">{{name}}</a>搜尋符合條件<span>{{city}}</span>和降雨機率為<span>{{percent}}</span>以下的推薦地點：</p>
            <p class="tags"><span class="tag">七星山</span><span class="tag">七星山</span><span class="tag">七星山</span><span class="tag">七星山</span><span class="tag">七星山</span></p>
            <section class="location_section">
                <h3>七星山</h3>
                <p>氣溫:10度 | 舒適度:適宜</p>
                <div class="ig_section">
                    <p class="title">ig熱門貼文</p>
                   <div class="ig_imgs">
                       <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                           <div class="img_box">
                                <img src="/static/1.jpg" alt="">
                           </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-10</span>
                            </p>
                        </div>
                        <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/2.jpg" alt="">
                            </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-10</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/3.jpg" alt="">
                            </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-10</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/4.jpg" alt="">
                            </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-10</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/5.jpg" alt="">
                            </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-10</span>
                            </p>
                         </div>
                   </div>
                </div>
                <!-- <div class="article_section">
                    <p class="title">健行筆記相關文章</p>
                    <div class="hiking_articles">
                        {% for article in articles %}
                        <div class="hiking_article">
                            <div class="img_box">
                                <img src="{{article.img}}" alt="">
                            </div>
                            <div class="txt_box">
                                <p>{{article.name}}</p>
                            </div>
                            <a href="{{article.link}}" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div> -->
            </section>
        </div>
        {% endif %}
    </div>
</body>
</html>