<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出遊趣</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div id="goHiking">
        <h1>出遊趣</h1>
        <form method="post">
            <div class="selectSection">
                <div class="selectOption">
                    <p>請選擇縣市：</p>
                    <select name="city" id="">
                        <option value="" disabled selected hidden>縣市</option>
                        {% for city in citys %}
                        <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selectOption">
                    <p>請選擇降雨機率：</p>
                    <select name="percent" id="">
                        <option value="" disabled selected hidden>降雨機率</option>
                        {% for percent in percents %}
                        <option value="{{percent}}">{{percent}}％以下</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" name="send" value="送出">
            </div>
        </form>
        {% if name == "" %}
        <p class="aLine">請完成篩選</p>
        {% else %}
        <div class="result_content">
            <p class="result_txt">以下為從<a href="https://www.cwb.gov.tw/V8/C/L/Mountain/Mountain.html" target="_blank" rel="noopener noreferrer">登山 | 交通部中央氣象局</a>搜尋符合條件<span>{{city}}</span>和降雨機率為<span>{{percent}}%</span>以下的推薦地點：</p>
            <p class="tags">
                {% for mountain in mountains %}
                <span class="tag">{{mountain}}</span>
                {% endfor %}
            </p>
            <section class="location_section">
                <h3>七星山</h3>
                <p>氣溫:12度</p>
                <div class="ig_section">
                    <p class="title">ig熱門貼文</p>
                   <div class="ig_imgs">
                       <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                           <div class="img_box">
                                <img src="/static/1.jpg" alt="">
                           </div>
                            <p>成功再解鎖一座山✔️<br>帶著曬傷滿足的回台中☺️<br>(當天爆多蚊蟲昆蟲各種會飛的生物聚集在這，邊拍照邊崩潰抖身體那種，認真母湯<br>
                                <span>📍#七星山 </span>
                                <span>#那些在台中的日常 </span>
                                <span>#gohiking#outdoorlife#bpintaiwan#vscotaiwan#taiwanformosa#amazingtaiwan#igerstaiwan#iseetaiwan#popdaily#taipeitravel#wowtoplay#台北#台北景點</span>
                                <span class="date">109-05-13</span>
                            </p>
                        </div>
                        <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/2.jpg" alt="">
                            </div>
                            <p>過錯是偶爾的失誤<br>但錯過是永遠的遺憾<br>又到了甜根子草的季節<br>
                                <span>#那些在台中的日常 </span>
                                <span>#meyoutaiwan #taipeitravel #exploretaiwan #iseetaiwan #howsaylove #bpintaiwan #taiwan #amazingtaiwan #igerstaiwan #chotofugram #ignant #ig_eurasia #ig_photooftheday #taiwan1 #canon #canon77d #view #view_taiwan #taipeitravel #meyoutaiwan #exploretaiwan #ig_taiwan #taiwantag #taipeicity #taiwanphoto #陽明山 #新北市 #冷水坑 #芒草 #七星山 #canontw攝影分享  #背包客棧
                                    @vscotaiwan @taiwan1 @bpintaiwan @taiwan_dream @liontravel.tw @travelmad_tws @promotion_taiwan @wowtoplay @bpintaiwan @visual_arts_taiwan @backpackers.com.tw</span>
                                <span class="date">2020-10-25</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/3.jpg" alt="">
                            </div>
                            <p>在大自然面前，人類永遠很渺小<br>—————————————————————————<br>📷:CANON EOS 90D<br>📹: CANON EF 70～200mm f/2.8 LS USM<br>🐌4張全景接圖<br>—————————————————————————<br>With:<br>
                                <span>#canontw攝影分享 #canon攝影分享  @canon_taiwan </span>
                                <span>🗾:#taiwan #taipei —————————————————————————</span>
                                <span>#sunset #beautifulplaces #七星山 #earthpix #travelawesome #earthfocus #雲海 #雲海テラス #fantasic_earth #mountains🗻 #mountains #sunset #travel #beautifultaiwan  #mountains </span>
                                <span class="date">109-04-01</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/4.jpg" alt="">
                            </div>
                            <p>2年前是🉑️陪著水哥畢業🎓壯遊～<br>今年換我陪著油妹畢業🎓壯遊～<br>2年後誰陪安弟畢業🎓壯遊～<br>讓我們⋯繼續⋯看下去🤣
                                <span>#白宮這一家🌟#paisfamily</span>
                                <span>#有祢真好 ☝🏼🙇🏻‍♂️ #又真又活</span>
                                <span>#七星山 #畢業 #壯遊</span>
                                <span class="date">109-06-20</span>
                            </p>
                         </div>
                         <div class="ig_img">
                            <img class="ig_logo" src="/static/ig_logo.png" alt="">
                            <div class="img_box">
                             <img src="/static/5.jpg" alt="">
                            </div>
                            <p>從郊山開始練習<br>下次想要陽明山東西大縱走<br>好想得到那個完成獎狀🥇<br>
                                <span>#七星山 #陽明山國家公園 #夢幻湖 #七星山主峰 #山與海之歌 #小百岳 #郊山#bravotaiwan#插旗一個小百岳#登山女子#exploretaiwan #exploretheworld#山頂からの景色</span>
                                <span class="date">109-05-09</span>
                            </p>
                         </div>
                   </div>
                </div>
                <div class="article_section">
                    <p class="title">健行筆記相關文章</p>
                    <div class="hiking_articles">
                        {% if articles[0] == "沒有可搜尋到的遊記" %}
                        <p>沒有可搜尋到的遊記</p>
                        {% else %}
                            {% for article in articles %}
                            <div class="hiking_article">
                                <div class="img_box">
                                    <img src="{{article.img}}" alt="">
                                </div>
                                <div class="txt_box">
                                    <p>{{article.name}}</p>
                                </div>
                                <a href="{{article.link}}" target="_blank" rel="noopener noreferrer"></a>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        {% endif %}
    </div>
</body>
</html>